html,body{
	background-color:#eeeadd;
}

#uda_header {

	background-repeat: no-repeat;
	height: 10% !important;
	margin: 0;
	padding: 0;

}

#uda_footer {
	/*background-image: url('images/footer.png');*/
	background-repeat: repeat-x, repeat-y;
	height: 15% !important;
	width: 100% !important;
	margin: 0;
	padding: 0;
	text-align: center;
}

.icon{
	background-image: url('../../common/css/images/footer.png');
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: none !important;
	color:#67abca !important;
	font-family: Shanti;

}

